.App {
    text-align: center;
    
  }
  
  .search {
    width: 35%;
  }
  
  .text{
  position: absolute;
  width: 442px;
  height: 66px;
  left: 94px;
  top: 410px;
  
  font-family: 'Baloo Bhai';
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 96px;
  letter-spacing: 0.06em;
  
  color: #FFFFFF;
  
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.7);
  }
  
  .text1{
    position: absolute;
  width: 656px;
  height: 104px;
  left: 91px;
  top: 449px;
  
  font-family: 'Baloo Bhai';
  font-style: normal;
  font-weight: 400;
  font-size: 100px;
  line-height: 159px;
  letter-spacing: 0.06em;
  
  color: #FFFFFF;
  
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.7);
  }
  .text3{
    position: absolute;
  width: 376px;
  height: 42px;
  left: 94px;
  top: 581px;
  
  font-family: 'Baloo Bhai';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 48px;
  letter-spacing: 0.06em;
  
  color: #FFFFFF;
  
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.7);
  
  }
  .picture1{
    padding-right: 1000px;

  }
  .picture2{
  
    padding-left: 800px;
    padding-bottom: 200px;
    }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  .cards-item__card--title {
    font-size: 28px;
    min-height: 60px;}
  .App-header {
    background-color: #28381F;
    align-items: center;
    justify-content: center;
    
  }
  .App-background {
    background-color: #28381F;
    
  }
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  