.Home{
  text-align: center;
  background-image: url('/src/bg/greenbg.jpg');
  background-size: 1700px;
  background-repeat: no-repeat;
}

.Home-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .Home-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.Home-header {
  background-color: #28381F;
  align-items: center;
  justify-content: center;
}

.Home-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.circle {
  position: absolute;
  width: 1142px;
  height: 1141px;
  left: -346px;
  top: 375px;
}

.TableRecent {
  border-radius: 50px;
  position: absolute;
  width: 1300px;
  height: 580px;
  left: 200px;
  top: 300px;
  background: rgba(255, 255, 255, .7)

}

.Recently {
  align-content: center;
  width: 562px;
  height: 66px;
  left: 468px;
  top: 200px;

  font-family: 'Baloo Bhai';
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 80px;
  text-align: center;
  letter-spacing: 0.06em;

  color: #FFFFFF;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.7);
}
.Cards{
  opacity: 1;
}